<!doctype html>
<html lang="en">

<head>
<title>Project TodoMVC</title>


</head>

<body>
		<header>
			<h1>Todos API</h1>
			
		</header>
		<p>Use Postman to access the api</p>
		<ul>
		<li>Show all elements   http://localhost:8080/api/all</li>
		<li>Delete element      http://localhost:8080/api/deletepost - (@RequestParam long id)</li>
		<li>Add element         http://localhost:8080/api/add - (@RequestParam String text)</li>
		<li>Show total number   http://localhost:8080/api/totalnumber</li>
		<li>Show active         http://localhost:8080/api/active</li>
		<li>Show done           http://localhost:8080/api/done</li>
		<li>Toggle todo         http://localhost:8080/api/toggleone - (@RequestParam long id)</li>
		<li>Toggle all todo     http://localhost:8080/api/toggleall</li>
		<li>Update an element   http://localhost:8080/api/update2 (@RequestParam long id, @RequestParam String text,
			@RequestParam boolean completed)</li>
		</ul>
		
		
</body>

</html>